In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [9]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [10]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [11]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [12]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'C', 'E', 'F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [19]:
dframe

       col1      col2      col3      col4      col5
A  1.076666  0.340683  1.795164 -0.683083 -1.312070
B  0.340929  0.147803 -1.115168  0.092627  1.788278
C -1.219002  0.281038  0.578008 -0.940282  3.024387
E  0.100513 -0.437291  2.005174 -0.141169  2.187756
F  1.369973 -1.126140 -2.608828 -0.959859 -0.158000

In [21]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)

In [22]:
dframe2

       col1      col2      col3      col4      col5
A  1.076666  0.340683  1.795164 -0.683083 -1.312070
B  0.340929  0.147803 -1.115168  0.092627  1.788278
C -1.219002  0.281038  0.578008 -0.940282  3.024387
D       NaN       NaN       NaN       NaN       NaN
E  0.100513 -0.437291  2.005174 -0.141169  2.187756
F  1.369973 -1.126140 -2.608828 -0.959859 -0.158000

In [23]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.076666  0.340683  1.795164 -0.683083 -1.312070   NaN
B  0.340929  0.147803 -1.115168  0.092627  1.788278   NaN
C -1.219002  0.281038  0.578008 -0.940282  3.024387   NaN
D       NaN       NaN       NaN       NaN       NaN   NaN
E  0.100513 -0.437291  2.005174 -0.141169  2.187756   NaN
F  1.369973 -1.126140 -2.608828 -0.959859 -0.158000   NaN

In [24]:
dframe

       col1      col2      col3      col4      col5
A  1.076666  0.340683  1.795164 -0.683083 -1.312070
B  0.340929  0.147803 -1.115168  0.092627  1.788278
C -1.219002  0.281038  0.578008 -0.940282  3.024387
E  0.100513 -0.437291  2.005174 -0.141169  2.187756
F  1.369973 -1.126140 -2.608828 -0.959859 -0.158000

In [25]:
dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A  1.076666  0.340683  1.795164 -0.683083 -1.312070   NaN
B  0.340929  0.147803 -1.115168  0.092627  1.788278   NaN
C -1.219002  0.281038  0.578008 -0.940282  3.024387   NaN
D       NaN       NaN       NaN       NaN       NaN   NaN
E  0.100513 -0.437291  2.005174 -0.141169  2.187756   NaN
F  1.369973 -1.126140 -2.608828 -0.959859 -0.158000   NaN