In [1]:
import pandas as pd
from pandas import Series

In [2]:
obj = Series([3,6,9,12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
ww2_cos = Series([8700000, 4300000, 3000000, 2100000,4000000], index=['USSR', 'Germany,','China','Japan','USA'])

In [7]:
ww2_cos

USSR        8700000
Germany,    4300000
China       3000000
Japan       2100000
USA         4000000
dtype: int64

In [8]:
ww2_cos['USA']

4000000

In [9]:
ww2_cos[ww2_cos > 400000]

USSR        8700000
Germany,    4300000
China       3000000
Japan       2100000
USA         4000000
dtype: int64

In [11]:
ww2_cos>4000000

USSR         True
Germany,     True
China       False
Japan       False
USA         False
dtype: bool

In [12]:
'USSR' in ww2_cos

True

In [13]:
ww2_dict = ww2_cos.to_dict()

In [14]:
ww2_dict

{'China': 3000000,
 'Germany,': 4300000,
 'Japan': 2100000,
 'USA': 4000000,
 'USSR': 8700000}

In [15]:
ww2_Series = Series(ww2_dict)

In [16]:
ww2_Series

China       3000000
Germany,    4300000
Japan       2100000
USA         4000000
USSR        8700000
dtype: int64

In [17]:
countries = ['China', 'Germany','Japan','USA','USSR','Argentina']

In [18]:
obj2 = Series(ww2_dict, index = countries)

In [19]:
obj2

China        3000000.0
Germany            NaN
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [20]:
pd.isnull(obj2)

China        False
Germany       True
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [22]:
pd.notnull(obj2)

China         True
Germany      False
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [23]:
ww2_Series

China       3000000
Germany,    4300000
Japan       2100000
USA         4000000
USSR        8700000
dtype: int64

In [24]:
obj2

China        3000000.0
Germany            NaN
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [25]:
ww2_Series + obj2

Argentina           NaN
China         6000000.0
Germany             NaN
Germany,            NaN
Japan         4200000.0
USA           8000000.0
USSR         17400000.0
dtype: float64

In [28]:
obj2.name = u'第二次世界大戦の死傷者'

In [29]:
obj2

China        3000000.0
Germany            NaN
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [30]:
obj2.index.name = 'Countries'

In [31]:
obj2

Countries
China        3000000.0
Germany            NaN
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64