In [1]:
import numpy as np
from pandas import DataFrame

In [5]:
import pandas.util.testing as tm
tm.N = 3

def unpivot(frame):
    N,K = frame.shape
    data = {'value': frame.values.ravel('F'),
           'variable': np.asarray(frame.columns).repeat(N),
           'data': np.tile(np.asarray(frame.index),K)}
    return DataFrame(data, columns=['data', 'variable', 'value'])

dframe = unpivot(tm.makeTimeDataFrame())

In [6]:
dframe

         data variable     value
0  2000-01-03        A  1.019792
1  2000-01-04        A -1.703311
2  2000-01-05        A -0.213027
3  2000-01-03        B -1.054303
4  2000-01-04        B  2.213711
5  2000-01-05        B  0.397861
6  2000-01-03        C -0.861248
7  2000-01-04        C -0.707410
8  2000-01-05        C -1.837039
9  2000-01-03        D -0.176455
10 2000-01-04        D  0.578289
11 2000-01-05        D -0.392205

In [10]:
tm.makeTimeDataFrame()

                   A         B         C         D
2000-01-03  0.596217  0.618601 -1.380161 -0.727457
2000-01-04  0.317699 -0.366064  0.523164 -0.403185
2000-01-05  1.432699  0.053466  0.046631 -0.447383

In [11]:
frame = tm.makeTimeDataFrame()
frame.shape

(3, 4)

In [12]:
frame.values.ravel('F')

array([-0.098071  , -0.70595216, -0.46427859,  0.56116506,  0.6504672 ,
        1.12182996, -1.12397697,  0.97781741,  0.16499403, -0.20726171,
        0.73414449, -1.42751399])

In [15]:
np.asarray(frame.columns).repeat(3)

array(['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'D', 'D', 'D'], dtype=object)

In [17]:
np.tile(np.asarray(frame.index),4)

array(['2000-01-03T00:00:00.000000000', '2000-01-04T00:00:00.000000000',
       '2000-01-05T00:00:00.000000000', '2000-01-03T00:00:00.000000000',
       '2000-01-04T00:00:00.000000000', '2000-01-05T00:00:00.000000000',
       '2000-01-03T00:00:00.000000000', '2000-01-04T00:00:00.000000000',
       '2000-01-05T00:00:00.000000000', '2000-01-03T00:00:00.000000000',
       '2000-01-04T00:00:00.000000000', '2000-01-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [18]:
dframe

         data variable     value
0  2000-01-03        A  1.019792
1  2000-01-04        A -1.703311
2  2000-01-05        A -0.213027
3  2000-01-03        B -1.054303
4  2000-01-04        B  2.213711
5  2000-01-05        B  0.397861
6  2000-01-03        C -0.861248
7  2000-01-04        C -0.707410
8  2000-01-05        C -1.837039
9  2000-01-03        D -0.176455
10 2000-01-04        D  0.578289
11 2000-01-05        D -0.392205

In [19]:
dframe_piv = dframe.pivot('data', 'variable', 'value')

In [20]:
dframe_piv

variable           A         B         C         D
data
2000-01-03  1.019792 -1.054303 -0.861248 -0.176455
2000-01-04 -1.703311  2.213711 -0.707410  0.578289
2000-01-05 -0.213027  0.397861 -1.837039 -0.392205